body {
    background: linear-gradient(rgba(235, 228, 128, 0.7), rgba(235, 228, 128, 0.7)), url('assets/bg.png') no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed; 
    background-position: center;
    background-repeat: no-repeat;
}
.navbar {
    background: rgb(4, 60, 110);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.668);
}
.nav-link:hover {
    color: rgb(136, 226, 59);
    border-radius: 20px;
    transition: color 0.3s ease;
}

.nav-link {
    font-family: 'Poppins', sans-serif;
    color: 	rgb(235, 228, 128);
}

.nav-link.active {  
    color: rgb(235, 228, 128)!important;  
}

.navbar-light .nav-link {
    color: rgb(235, 228, 128) !important;  
}

.navbar-light .nav-link:hover {
    color: rgb(136, 226, 59) !important;
}

.navbar-toggler:hover {
    background-color:  rgb(4, 60, 110);
    transition: opacity 0.3s ease;
}
#home{
    margin-top: 60px;
}
.hero-img {
    width: 100%;
    height: auto;
    display: block;
}
.card {
    background-color: rgb(96, 168, 95, 0.3) !important;
    border-radius: 10px;
}
h3{
    font-family: 'Poppins', sans-serif;
    color: rgb(4, 60, 110) !important;
}
.welcome{
    text-align: justify;
}
.char-header{
    background-color: rgb(107, 113, 50) !important;
}
.char-header h3 {
    color: rgb(235, 228, 128) !important;
}